/*Juick dark-grey*/

/*@namespace url(http://www.w3.org/1999/xhtml);*/
@-moz-document domain("juick.com"){
    input, textarea {-moz-appearance:none !important;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input::-o-inner-spin-button, input::-o-outer-spin-button, input[type="file"]::-webkit-file-upload-button {margin:0; -webkit-appearance:none !important;}
    x::-webkit-file-upload-button, input[type="file"]:after {margin:0; -webkit-appearance:button !important;}

    :focus {-moz-outline:none; outline:none !important;}
    button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none !important;}
    button::focus-inner, input[type="reset"]::focus-inner, input[type="button"]::focus-inner, input[type="submit"]::focus-inner, input[type="file"] > input[type="button"]::focus-inner {border:none !important;}

    /* custom scrollbar fix*/
    /*html { width: 100% !important; margin: 0 10px !important; overflow-x: hidden; }*/
    /*body > header, body > aside, body > #footer { margin-left: -10px !important; }*/
    /*body > #content { margin-left: 276px !important; }*/
    /* End of custom scrollbar fix*/
    
    body, header p {color:#acacac !important;}
    #logo, div[id*="yandex_ad"] {background:none !important;}
    #header, #hlinks .button ul, #pagetabs li, #content.pagetext, #fwrapper, #headdiv, header p, #ctoolbar {background:#333 !important; border:none !important; box-shadow:none !important;}
    html, #header .text, .inp, #dialogl, #dialogn, .msg-comment textarea, #hlinks .button, #hlinks .button ul, strong, .msg-comment .reply, .msg-comment input, textarea, .newmessage, input[type="text"], input[type="submit"], input[type="file"], input[type="file"]:after, input[type="file"] > input[type="button"], .dialogl, .signinput, .signsubmit, article input {background:#303030 !important; color:#dadada !important;}
    .msg-comment .reply, .msg-comment input, .inp, strong, #search input.text, textarea, .newmessage, input[type="text"], input[type="submit"], input[type="file"], input[type="file"]:after, input[type="file"] > input[type="button"], .dialogshare, .dialogl, .dialoglogin, .signinput, .signsubmit, .msg-comments, #mtoolbar, .msg-tags > a, article .tags > a, fieldset, article input {border:1px solid #404040 !important;}
    .msg-comment .narrow {resize: both !important;}
    #content article, .msg-cont, .ads, .page, #mtoolbar, .title2, #dialogw, hr, #column .inp, #search input.text, #newmessage, .dialogshare, .dialoglogin {background:#333 !important;}
    a, article > nav.s a, .msg-comment input, input[type="submit"], input[type="file"], input[type="file"]:after, input[type="file"] > input[type="button"] {color:#00aef0 !important;}
    .msgthread, .msg-comments, #mtoolbar {border-color:#303030 !important;}
    .msg-comments {color:#aaa !important;}
    #footer {color:#999 !important;}
    #dialogn {cursor:text !important;}
    .ta-wrapper, article > nav.l a {border:none !important;}
    blockquote, q {border-left-color: #909090 !important;}
    q {color: #909090 !important;}
    #ctoolbar div, #mtoolbar div, .reply-jab {background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAQCAMAAADphoe6AAAAS1BMVEUAAAAGqP8GqP//HgAGqP// HgAGqP//HgAGqP8GqP//HgAGqP8GqP8GqP8GqP8GqP//HgAGqP//HgAGqP8GqP//HgAGqP8zMzP/ HgCcaIkqAAAAFnRSTlMAECAgMDBAQFBgYHCAj5+/v8/P3+/vuUvIgwAAAdVJREFUeNqtleGSgjAM hFtFaJVrqdQM7/+kl4SwIjgy3tz+qICab5ukwb0XsdxOPVHv3qglwiqKmVg5OtN1mFjDdQ5SSVVv zuRLcqpU/EcDHk83CkS2ik6FTOUk9+f7ZLqfZRPQbeETJeUTFf+NATjuKdsq/Cqbb1tJQz0x/yGb 7zpJw+PsKuVWs1aoOpX6TcJnlU8GIr2WAI5/KGOVeHPum6rxeP9z7i/s5M6RW9QNYVjJPj4YiBIY gmN6kbgEv/L1dcV/8DUMeBBmNPgwcMgXpa2BTBn8hm+GaQD/wjdaAmMg1JpPG9XaOJ+JivLRs+CL dFdYI/iSDt40+I7TYU04hiDBezhAtJ0BonFEe6Bn13yvaA8b4LtWDHTgu26acAxHXftDAxzMvl73 LPibMaAGwDcD4KsBtVokTGwz1cMSPE297xigw/LbCL6VAHwpgWUscBGWfx43YSZR2HWMat+E4Lu5 CcF3fAPDsH58DLUJc6LkNwVT7Y8h+HE+huDPRxIGvJTgi0EU6jg3TVr4SFCPVeKBb4Noxb9b04Yw kqr/ZhQ3y9O04gNddMUobjaj+GKjWDSS4Wv/x5dRAn8zBg5fRqog31lL/cfr+DkGDl/HJi7Awv8F XeJMbhZ2f2AAAAAASUVORK5CYII=') !important;}

    input[type="file"]::-webkit-file-upload-button, x::-webkit-file-upload-button {background:#303030 !important; border:1px solid #404040 !important; color:#00aef0 !important;}
    
    ::-webkit-scrollbar {
        width: 9px !important;
        height: 9px !important;
    }
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        background-color: #303030 !important;
    }
    ::-webkit-scrollbar-track:vertical {
        width: 9px !important;
    }
    ::-webkit-scrollbar-track:horizontal {
        height: 9px !important;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    ::-webkit-scrollbar-thumb:vertical {
        min-height: 50px !important;
        width: 9px !important;
        background: -webkit-linear-gradient(left, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 1%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        min-width: 50px !important;
        height: 9px !important;
        background: -webkit-linear-gradient(top, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
        background: #00aef0 !important;
    }
/*    ::-webkit-resizer, ::-webkit-scrollbar-corner {*/
    ::-webkit-resizer {
        background-color: #00aef0 !important;
        background: -webkit-linear-gradient(-45deg, rgba(0, 174, 240,0) 0%,rgba(0, 174, 240,0) 49%,rgba(0, 174, 240,1) 50%,rgba(0, 174, 240,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0, 174, 240,0) 0%,rgba(0, 174, 240,0) 49%,rgba(0, 174, 240,1) 50%,rgba(0, 174, 240,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
    scrollbar {
        -moz-appearance:none !important;
        background: #303030 !important;
        border-radius: 0 !important;
    }
    scrollbar[orient="vertical"] {
        width: 9px !important;
    }
    scrollbar[orient="horizontal"] {
        height: 9px !important;
    }
    scrollbar thumb {
        -moz-appearance: none !important;
        border: none !important;
        border-radius: 0 !important;
    }
    scrollbar thumb[orient="vertical"] {
        min-height: 50px !important;
        width: 9px !important;
        background: -moz-linear-gradient(left, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 1%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    scrollbar thumb[orient="horizontal"] {
        min-width: 50px !important;
        height: 9px !important;
        background: -moz-linear-gradient(top, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    scrollbar thumb[orient="vertical"]:hover,
    scrollbar thumb[orient="vertical"]:active,
    scrollbar thumb[orient="horizontal"]:hover,
    scrollbar thumb[orient="horizontal"]:active {
        background: #00aef0 !important;
    }
    
    browser resizer {
        -moz-appearance: none !important;
        background: #5588ee !important;
        background: -moz-linear-gradient(-45deg, rgba(0,174,240,0) 0%,rgba(0,174,240,0) 49%,rgba(0,174,240,1) 50%,rgba(0,174,240,1) 100%) !important;
    }
}
