/*point.im dark-grey*/

/*@namespace url(http://www.w3.org/1999/xhtml);*/
@-moz-document domain("point.im"){
    input, textarea {-moz-appearance:none !important;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input::-o-inner-spin-button, input::-o-outer-spin-button, input[type="file"]::-webkit-file-upload-button {margin:0; -webkit-appearance:none;}
    x::-webkit-file-upload-button, input[type="file"]::after {margin:0; -webkit-appearance:button;}

    :focus {-moz-outline:none; outline:none;}
    button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;}
    button::focus-inner, input[type="reset"]::focus-inner, input[type="button"]::focus-inner, input[type="submit"]::focus-inner, input[type="file"] > input[type="button"]::focus-inner {border:none;}

    /* custom scrollbar fix*/
    html, body { width: 100% !important; }
    body { margin: 0 10px !important; overflow-x: hidden; }
    body > div { margin-left: -10px !important; }
    #footer { margin-left: 0 !important; }
    /* End of
    custom scrollbar fix*/
    
    html, button, input, select, textarea {
    	color:#acacac !important;
    }
    body {
      font-size: 0.9em !important;
    }
    html, body, #header-wrap, #main-wrap, #new-post-form,
    #tree-switch a.active,
    #user-menu a:hover,
    #user-menu a.active,
    #order-switch a.active {
    	background-color:#303030 !important;
    }
    a,
    .button,
    input[type="button"],
    input[type="submit"],
    input[type="file"]::after,
    input[type="file"] > input[type="button"],
    .link,
    .post .reply-label,
    .post .more-label,
    .post .post-id a .cn,
    .aside #counters #subs .value,
    .aside #counters #readers .value,
    #new-post-hide-label,
    #content .users > .user .info .user {
    	color:#00aef0 !important;
    }
    code {
    	color:#2FCE6E !important;
    }
    pre {
    	color:#929292 !important;
    }
    .button,
    input[type="button"],
    input[type="submit"],
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="datetime"],
    textarea,
    input[type="file"],
    input[type="file"]::after,
    input[type="file"] > input[type="button"],
    #header #search-form,
    #header #search-form input[type="text"],
    #subheader-wrap,
    .tag,
    #main #left-menu a.active,
    #tree-switch a,
    code,
    .codehilite,
    pre,
    #user-menu,
    .aside-toggle,
    #content .users > .user,
    .tag-info > h1,
    #left-menu .unread,
    #user-menu .unread,
    .post .post-id a .unread,
    #comments .post.unread,
    #header .search-form,
    #order-switch a,
    #scrollToTop {
        background-color:#373737 !important;
    }
    #content .codehilite {
        background:#373737 !important;
    }
    .post .post-id a .unread,
    #left-menu .unread,
	#left-menu .active .unread,
	#user-menu .unread {
		color: #FF5100 !important;
	}
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="datetime"],
    textarea,
    .button,
    input[type="button"],
    input[type="submit"],
    input[type="file"],
    #order-switch a.active,
    #scrollToTop {
		border:1px solid #404040 !important;
		box-shadow:none !important;
    }
    #search-form input[type="text"],
    #search-form input[type="submit"],
    input[type="file"]::after,
    input[type="file"] > input[type="button"] {
    	border:none !important;
    }
    input[type="file"]::after,
    input[type="file"] > input[type="button"] {
    	border-right:1px solid #404040 !important;
    }
    #main-wrap, .post, #content h1, #user-menu, #sections-menu, #content .users > .user {
        border-color:#404040 !important;
    }
    #header-wrap {
        border-bottom-color:#303030 !important;
    }
    #subheader-wrap {
        border-bottom:none !important;
        box-shadow:0 0 20px rgba(0, 0, 0, 0.35) !important;
    }
    #subheader > .active::before, #subheader > .active::after {
        border-color:rgba(48, 48, 48, 0) rgba(48, 48, 48, 0) #303030 !important;
    }
    #header #user-menu-label .avatar {
        border-color:transparent !important;
    }
    .tag::before, .tag-info > h1:before {
        border-color:rgba(55, 55, 55, 0) #373737 !important;
    }
    #footer #menu > div a, .aside #counters .value {
        text-shadow:none !important;
    }
    #main #left-menu #top-link {border-color:#373737 rgba(55, 55, 55, 0) !important;}
    #main #left-menu #top-link:focus {-moz-outline:none !important; outline:none !important;}
    #subheader > .active {color:#808080 !important;}
    .post .info .created, .aside #counters .units {
        font-family:"Droid Sans","PT Sans","Open Sans",Verdana,sans-serif !important;
    }
    #new-post-hide-label, .link {border-bottom-color:#00aef0 !important;}
    .post .text blockquote {border-left-color:#404040 !important;}
    .footnote {border-top-color:#404040 !important;}
    .aside-toggle::after {border-color:rgba(255,255,255,.25) transparent !important;}
    .codehilite {background: none !important;}
    .saved {background-color: #34D038 !important; color: #fff !important; border: none !important;}
    .errors {background-color: #CE0000 !important; color: #FFF8DD !important; border: none !important;}
    
    #content .users > .user:hover .info .del,
    #content .users > .tags div.tag:hover a.del,
    .post:hover .edit-buttons .del {background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBI WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AEZBy8I02kmXQAAAZNJREFUWMPtl79KA0EQxn+3kn+Q IkWwsPBhxDcIoi9h4xPkCSxMKSQIFgGR1EYQnyGdnYU5LkFiaUAYbLYIy+wlt7cJKbJwcDc7M9+w M7PzHRzWvi2BukBrC35bAvV1Sm2BhcCPwCwi+Mz6XAi0V/eMozsAEvteFcgigGdA1X4mQD8vgDvn uyaQlgBPgZoj7nkDMPAKjByDhsA0AHwKNBzxyGKsNR7anK0+WZFjV+yHmm6S4+QJOHfEf8CpgWWO 3RyoOOI3Ax1N3/gcGbgAXhxxBfgSaHrA7xXwsQ88NwC7eaXUxBHw6enppZLzyxh93FNyOvfoTux+ N/ZNdlumMGMFoZ1EuusgHpQgPkL9JYFBuK32a+AkxJcJmJRan7/v4uibAt+b3nDb4AgaeH8nfEJg roD3YvAJswF4puR8YOBaUS/MJ0zAPH80cOMxiccnBNJNcq7Y9RW7aVHwrEy1F+ETSdl5nhPEM3Dm 8gkDx94aCJnnOcXVAcYun7AY3iKMOs+t7WgNxvbnuUDX+pwcfv32bv0DWbcByFN/oNoAAAAASUVO RK5CYII=') !important;}
    .post:hover .edit-buttons {
        opacity: 1;
    }
    .post label[for^="edit-"] {
        background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgCAYAAACLz2ctAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHBy b2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8ig iAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIe EeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCE AcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCR ACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDI IyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKB NA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt /qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48 /Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUi iUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8/ /UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSA HHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgj jggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3U DLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNj y7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKT qEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBoj k8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2o oVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0 dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyov VKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNM w09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H 45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5B x0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U /W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk 423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2 uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuu tm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP 2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/u Nu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+ 9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+O PzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeG P45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5 LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWO CnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9 MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/ zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2 Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cV f9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7 g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbV ZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1V jZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sf D5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4 dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3d vfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP /pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/ bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz /GMzLdsAAAAGYktHRAAAAKwA7xmU4JIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgARkI NjUbXYRpAAACyElEQVR42u3d0U3DQBBFUc9WQG/USW9UgGgAIYQEMzvv3F8+UHaPxnYcJ88jSZIk SZIkSZK0tbIEf9zb+8e3f399OQCqBx+IALbDC0cI4BR8oQgPMYPwOQRrBL6gKWgCmnwAwgeg4AMQ PgAFH4Dw5eRtmGn4vBEtk88EzMQXeC/YBDT5TED4Hh/HEnwAwgcgfPABCB+A8MEHIHwAwgcfgPD9 7vVcAL7guxzfT17HYIgF33J8wyEWfCH4hiIs+ILwDUR44Au82h30CZ+C7zJ8yx6AP/AFTb6Bk/DA F4pvCMIDXzC+AQgPfOH4mhEe+ODrRGgB4WtFWBbuQnyLHpB3/mLyta5pWahL8S15WL7gu3jyLUBY 8F1+2L0cYcG34JzvYoQF35ILjksRFnyLrnYvRFgWdwm+SxGWRV2E70KEZTGX4bsMYVnEhfguQljw Pbtvrw1HWPC9eCyhcS0LvpCGIiz4ghqI8MAXlK/mgC9mvX+4zgc+k7CzAx+EmQDhg7ANIHx5F35j AMIHXxtA+OBrAwgffF9U8MHXuQcFH3yde7Bnw+C75rC7DyB81x6BDnzwde7DgQ++zn048MHXuQ8H Pvg69+HAB1/nPhz44OvchwMffJ37YFPhax0CAMLXegQCEL7W0x8A4Ws99wYQvtYLPwDha8MHIHyt +ACErxUfgPC14gMQvlZ8AMLXig9A+NrvsQMI3wOgIvEBCB+AeqIf3gcQPgDhy8QHIHwAwpeLD0D4 AIQvFx+A8AEIXy4+AOEDEL5cfADCByB8ufgAhA9A+HLxAQgfgPDl4gMQPgDhy8UHIHzt7fqxwo0t /25sExA+AJWJD0D4AFQuPgDhA1C5+ACED0D4sn8DD0D4AIQPQMEHIHx51b/8Fx9IgM8EhC93AqZP QfgGAExFCN8ggEkIwZMkSZIkSZIkSZIkSZIkSZIkSZIkSZK0pE/ZYMF0kG9tnQAAAABJRU5ErkJg gg==') !important;
    }

    #scrollToTop {
        border-radius: 0 !important;
        bottom: 10px !important;
        right: 5px !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        padding: 4px !important;
        width: auto !important;
    }
    .totopshow {opacity: 0 !important;}
    .totopshow:hover {opacity: 1 !important;}
    #scrollToTop:focus {-moz-outline: none !important; outline: none !important;}

    input[type="file"]::-webkit-file-upload-button, x::-webkit-file-upload-button {
    	background-color:#373737 !important;
    	color:#00aef0 !important;
    	border:none !important;
    	border-right:1px solid #404040 !important;
    }

    ::-webkit-scrollbar {
        width: 9px !important;
        height: 9px !important;
    }
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        background-color: #303030 !important;
    }
    ::-webkit-scrollbar-track:vertical {
        width: 9px !important;
    }
    ::-webkit-scrollbar-track:horizontal {
        height: 9px !important;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        background-color: #00aef0 !important;
    }
    ::-webkit-scrollbar-thumb:vertical {
        min-height: 50px !important;
        width: 9px !important;
        background: -webkit-linear-gradient(left, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 1%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        min-width: 50px !important;
        height: 9px !important;
        background: -webkit-linear-gradient(top, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
        background: #00aef0 !important;
    }
    ::-webkit-resizer, ::-webkit-scrollbar-corner {
        background-color: #303030 !important;
        background: -webkit-linear-gradient(-45deg, rgba(48,48,48,0) 0%,rgba(48,48,48,0) 49%,rgba(48,48,48,1) 50%,rgba(48,48,48,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(48,48,48,0) 0%,rgba(48,48,48,0) 49%,rgba(48,48,48,1) 50%,rgba(48,48,48,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
    scrollbar {
        -moz-appearance:none!important;
        background: #303030 !important;
        border-radius: 0 !important;
    }
    scrollbar[orient="vertical"] {
        width: 9px !important;
    }
    scrollbar[orient="horizontal"] {
        height: 9px !important;
    }
    scrollbar thumb {
        -moz-appearance: none !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 0 !important;
    }
    scrollbar thumb[orient="vertical"] {
        min-height: 50px !important;
        width: 9px !important;
        background: -moz-linear-gradient(left, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 1%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    scrollbar thumb[orient="horizontal"] {
        min-width: 50px !important;
        height: 9px !important;
        background: -moz-linear-gradient(top, rgba(0,174,240,0) 0%, rgba(0,174,240,0) 24%, rgba(0,174,240,1) 25%, rgba(0,174,240,1) 75%, rgba(0,174,240,0) 76%, rgba(0,174,240,0) 100%) !important;
    }
    scrollbar thumb[orient="vertical"]:hover,
    scrollbar thumb[orient="vertical"]:active,
    scrollbar thumb[orient="horizontal"]:hover,
    scrollbar thumb[orient="horizontal"]:active {
        background: #00aef0 !important;
    }
}

